auditbeat.modules:
- module: auditd
  resolve_ids: true
  failure_mode: silent
  include_raw_message: false
  include_warnings: false
  backlog_limit: 8192
  audit_rules: |
{% for rules in auditbeat_audit_rules %}
    {{ rules }}
{% endfor %}

- module: file_integrity
  paths:
  - /bin
  - /usr/bin
  - /usr/local/bin
  - /sbin
  - /usr/sbin
  - /usr/local/sbin
  - /etc
  exclude_files:
  - '(?i)\.sw[nop]$'
  - '~$'
  - '/\.git($|/)'
  include_files: []
  recursive: true

- module: system
  datasets:
    - login
    - package
    - user
  state.period: 12h
  user.detect_password_changes: true
  login.wtmp_file_pattern: /var/log/wtmp*
  login.btmp_file_pattern: /var/log/btmp*

queue.mem:
  events: 32768

output.{{ beats_output_type }}:
  hosts: ['{{ beats_output_host | list | join(":" + beats_output_port + "', '") }}:{{ beats_output_port }}']
  loadbalance: {% if beats_output_host | length > 1 %}true{% else %}false{% endif %}

fields_under_root: true
fields:
  subscription: {{ subscription | default("default") | upper }}
  region: {{ region | default("default") | upper }}
  enviornment: {{ environments | default("ENV") | upper }}
  group: {{ group_names[0] | default("GROUP") | upper }}
  source: {{ ansible_fqdn }}

processors:
  - add_cloud_metadata: ~
  - drop_event:
     when:
        equals:
          auditd.summary.object.type: process
  - drop_fields:
     fields: ["{{ auditbeat_drop_fields | list | join('", "') }}"]

logging.level: error
logging.to_syslog: true

http:
  enabled: true
  host: localhost
  port: {{ beats_port_arg.http }}
